= "Hello #{h @recipient_name},"

= "You are receiving this e-mail because you belong to the group '#{h @group}'."

= "Please note the the password corresponding to the login '#{h @login}' (to access the server '#{h @server}') has changed."

Best regards.

= "---"
The VSFTPD Users Application