= "Hello #{h @recipient_name},"

You are receiving this e-mail because you asked a new password. If not, please ignore and delete this e-mail.

Click (or copy and paste on your browser's address bar) on the link below to continue the password recovery process:
= "#{BASE_URL}users/edit_password/#{@recipient_token}"

Best regards.

= "---"
The VSFTPD Users Application