%p
  %span.label= f.label :login
  %span.input= f.text_field :login, :class => "text_field"

  %p
    %span.label= f.label :password, f.object.new_record? ? nil : "Change password"
    %span.input= f.password_field :password, :class => "password_field"
  %p
    %span.label= f.label :password_confirmation
    %span.input= f.password_field :password_confirmation, :class => "password_field"
%p
  %span.label
    = f.label :group_id, "This account will belong to"
    = f.select :group_id, @groups, {:prompt => 'Select a group'}, {}
%p
  %span.label
    = f.label :server_id, "This account is for"
    = f.select :server_id, @servers, {:prompt => 'Select a server'}, {}