%table{:cellspacing => "0", :summary => "FtpUsers"}  
  %colgroup
    %col#num_col
    %col#login_col
    %col#server_col
    %col#user_col
    %col#state_col
    %col#created_col
    %col#updated_col
    %col#action
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Login
      %th{:scope => "col"} Server
      %th{:scope => "col"} User (owner)
      %th{:scope => "col"} State
      %th{:scope => "col"} Created at
      %th{:scope => "col"} Updated at
      %th{:scope => "col"} Action
  %tbody
    -if (current_objects && current_objects.length > 0)
      -current_objects.each_with_index do |object, index|
        %tr{:class => (index%2==0 ? "even" : "odd")}
          %td= index + 1
          %td= link_to h(object.login), ftpuser_path(object)
          %td= link_to h(object.server.name), server_path(object.server)
          %td= link_to h(object.user.name), user_path(object.user)
          %td= h(object.state)
          %td= "#{distance_of_time_in_words_to_now(object.created_at)} ago"
          %td= "#{distance_of_time_in_words_to_now(object.updated_at)} ago"
          %td
            =link_to 'edit', edit_ftpuser_path(object), :class => "button"            
            =link_to 'delete', ftpuser_path(object), {:confirm => 'Are you sure?', :method => :delete, :class => "button delete"}
    -else
      %tr
        %td.empty{:colspan => "8"} 
          No ftp account found. 
          = link_to "Create one?", new_ftpuser_path