%h2.page_title 
  Change a FTP User password
  %ul
    %li= link_to "Back the FTP account", ftpuser_path(current_object)

.form_holder
  = error_messages_for :ftpuser

  - form_for(current_object, :url => update_password_ftpuser_url(current_object)) do |f|
    %p
      %span.label= f.label :password, f.object.new_record? ? nil : "New password"
      %span.input= f.password_field :password, :class => "password_field", :value => ''
    %p
      %span.label= f.label :password_confirmation
      %span.input= f.password_field :password_confirmation, :class => "password_field"
        
    %p.submit
      = submit_tag("Change password")
      = link_to("Cancel", ftpuser_path(current_object), :class => "alternative_button")
        