%h2.page_title 
  Edit a FTP User
  %ul
    %li= link_to "Back to the FTP User", ftpuser_path(current_object)
    %li= link_to "Back to the FTP Users list", ftpusers_path
    %li= link_to "Back to the homepage", home_path

.form_holder
  = error_messages_for :ftpuser

  - form_for(current_object, :url => object_url) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p.submit
      = submit_tag("Edit account")
      = link_to("Cancel", :back, :class => "alternative_button")
