%h2.page_title 
  Create a new FTP User
  %ul
    %li= link_to "Back to the FTP Users list", objects_url
    %li= link_to "Back to the homepage", home_path

.form_holder
  = error_messages_for :ftpuser

  - form_for(current_object, :url => objects_url) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p.submit
      = submit_tag("Create the FTP User")
      = link_to("Cancel", ftpusers_path, :class => "alternative_button")
