%h2.page_title 
  Show a FTP User
  %ul
    -if current_user.is_admin?
      %li= link_to "Create a new FTP User", new_ftpuser_path
      %li= link_to "Back to the FTP Users list", ftpusers_path

    %li= link_to "Back to the homepage", home_path

%p
  %span.key Login: 
  %span.value= h current_object.login

%p
  %span.key Group: 
  %span.value
    %strong
      -if current_user.is_admin?
        =link_to current_object.group.name, current_object.group
      -else
        =h current_object.group.name
    %br
    = h current_object.group.description
%p
  %span.key Server: 
  %span.value
    .float_right
      IP:
      = h current_object.server.ip_address
    %strong
      -if current_user.is_admin?
        =link_to current_object.server.name, current_object.server
      -else
        = h current_object.server.name
    %br
    = h current_object.server.description
%p
  %span.key Created: 
  %span.value= "#{distance_of_time_in_words_to_now(current_object.created_at)} ago"
%p
  %span.key Updated: 
  %span.value= "#{distance_of_time_in_words_to_now(current_object.updated_at)} ago"

-if current_user.is_admin?
  %p 
    %span.key State:
    %span.value
      %div.float_right
        Actions:
        -if ["inactive"].include?current_object.state
          = link_to friendly_states("activate"), activate_ftpuser_path(current_object), :method => :put
        -if ["active"].include?current_object.state
          = link_to friendly_states("inactivate"), inactivate_ftpuser_path(current_object), :method => :put
      = friendly_states(current_object.state)

%p
  %br
  =link_to 'Change Password', edit_password_ftpuser_path(current_object), :class => "button"
  -if current_user.is_admin?
    =link_to 'Edit', edit_ftpuser_path(current_object), :class => "button"
    =link_to 'Delete', ftpuser_path(current_object), {:confirm => 'Are you sure?', :method => :delete, :class => "alternative_button"}

  %h3.subtitle
    Users who have access to this FTP User
  %p
    = render :partial => "users/users_table", :locals => {:current_objects => current_object.group.users}