%h1 Viewing ftpuser

%div[current_object]
  %p.login
    %strong Login
    = h current_object.login
  %p.password
    %strong Password
    = h current_object.password
  %p.created_at
    %strong Created at
    = h current_object.created_at
  %p.updated_at
    %strong Udpated at
    = h current_object.updated_at

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy ftpuser?', :method => :delete
|
= link_to 'Back', objects_path
