%p
  %label{:for => "server_name"} Name:
  = f.text_field :name
%p
  %label{:for => "server_ip_address"} Ip address:
  = f.text_field :ip_address
%p
  %label{:for => "server_description"} Description:
  = f.text_area :description
%p
  %label{:for => "server_crated_at"} Crated at:
  = f.datetime_select :crated_at
%p
  %label{:for => "server_updated_at"} Updated at:
  = f.datetime_select :updated_at
