%h2.page_title 
  Edit an existing server
  %ul
    %li= link_to "Back to servers list", objects_url

.form_holder
  = error_messages_for :ftpuser

  - form_for(current_object, :url => objects_url) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p.submit
      = submit_tag("Edit server")
      = link_to("Cancel", objects_url, :class => "alternative_button")
