%h2.page_title 
  Create a new Server
  %ul
    %li= link_to "Back to the Servers list", objects_url
    %li= link_to "Back to the homepage", home_url

.form_holder
  = error_messages_for :server

  - form_for(current_object, :url => objects_url) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p.submit
      = submit_tag("Create server")
      = link_to("Cancel", servers_path, :class => "alternative_button")
