%h2.page_title 
  Edit an existing Group
  %ul
    %li= link_to "Back to the Group", object_url
    %li= link_to "Back to the Groups list", objects_url
    %li= link_to "Back to the homepage", home_path

.form_holder
  = error_messages_for :group
  - form_for(current_object, :url => object_url, :html => {:method => :put}) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p.submit
      = submit_tag("Edit Group")
      = link_to("Cancel", groups_path, :class => "alternative_button")
