-if current_user.is_admin?
  %table{:cellspacing => "0", :summary => "Servers"}  
    %colgroup
      %col#num_col
      %col#name_col
      %col#ip_address_col
      %col#user_count_col
      %col#created_col
      %col#updated_col
      %col#action
    %thead
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} Name
        %th{:scope => "col"} Login
        %th{:scope => "col"} E-mail
        %th{:scope => "col"} Company ID
        %th{:scope => "col"} State
        %th{:scope => "col"} Created
        %th{:scope => "col"} Last login
        %th{:scope => "col"} Last IP
        %th{:scope => "col"} Login count
        %th{:scope => "col"} Is admin?
      %tbody
        -if (current_objects && current_objects.length > 0)
          -current_objects.each_with_index do |object, index|
            %tr{:class => (index%2==0 ? "even" : "odd")}
              %td= h object.id
              %td= link_to object.name, user_path(object)
              %td= link_to object.login, user_path(object.id)
              %td= mail_to "#{object.name} <#{object.email}>", object.email, :subject => EMAILS_SUBJECT_PREFIX
              %td= h object.company_id
              %td= friendly_states(object.state)
              %td= "#{distance_of_time_in_words_to_now(object.created_at)} ago"
              %td= object.last_login_at ? "#{distance_of_time_in_words_to_now(object.last_login_at)} ago" : "&nbsp;"
              %td= h object.last_login_ip
              %td= h object.login_count
              %td= friendly_is_admin(object.is_admin?)
        -else
          %tr
            %td.empty{:colspan => "11"} 
              No users found. 
              = link_to "Create one?", new_user_path