%h2.page_title 
  Editing my account
  %ul
    %li= link_to "Back to my account", user_path(current_object)

.form_holder
  = error_messages_for :user

  - form_for(current_object, :url => object_url, :html => { :method => :put }) do |f|
    = render :partial => "form", :locals => {:f => f}
    %p.submit
      -if current_object != @current_user
        = submit_tag("Update these info")
      -else
        = submit_tag("Update my info")
      = link_to("Cancel", ftpuser_path(current_object), :class => "alternative_button")