#central_box
  %h2
    New password for
    %em=h @current_object.login
    
  .form_holder
    - form_for(@current_object, :url => update_password_user_path(@current_object)) do |f|
      %div= f.error_messages
      
      = f.hidden_field :perishable_token
      
      %p
        %span.label= f.label :password
        %span.input= f.password_field :password, :class => "password_field"
      
      %p
        %span.label= f.label :password_confirmation
        %span.input= f.password_field :password_confirmation, :class => "password_field"
        
      %p.submit
        = f.submit "Submit"
        = link_to("Cancel", new_user_session_url, :class => "alternative_button")