#central_box
  %h2 Register a new User

  .form_holder
    - form_for(current_object, :url => account_path) do |f|
      = f.error_messages
      = render :partial => "form", :locals => {:f => f}
      %p.submit
        = submit_tag "Register"
        -if current_user
          = link_to("Cancel", users_path, :class => "alternative_button")
        -else
          = link_to("Cancel", root_url, :class => "alternative_button")