#central_box
  %h2 Please enter your login

  .form_holder
    - form_for(current_object, :url => send_password_users_path) do |f|
      %div= f.error_messages
  
      %p
        %span.label= f.label :login
        %span.input= f.text_field :login, :class => "text_field"
          
      %p.submit
        = f.submit "Ask a new password"
        = link_to("Cancel", new_user_session_url, :class => "alternative_button")