%h2.page_title 
  My Account
  %ul
    %li= link_to "Edit my account", edit_user_path(current_object)
%p
  %span.key Login: 
  %span.value= h current_object.login
%p
  %span.key Name: 
  %span.value= h current_object.name
%p
  %span.key Contact email:
  %span.value= h current_object.email
%p 
  %span.key Last login:
  %span.value= h current_object.last_login_at.strftime("%d/%m/%Y at %H:%M") if !current_object.last_login_at.nil?
%p 
  %span.key Last login IP:
  %span.value= h current_object.last_login_ip if !current_object.last_login_ip.nil?
%p
  %span.key Groups you belong to:
  %span.value= current_object.groups.collect{ |group| link_to(group.name, group_path(group)) }.join(', ')


-if current_object.is_admin?
  %p
    %span.large Your have an administrator account.

%h3.subtitle
  My FTP accounts
  %ul
    %li= link_to "Browse all FTP accounts", ftpusers_path
    %li= link_to "Create a new FTP account", new_ftpuser_path

= render :partial => "ftpusers/ftpusers_table", :locals => {:current_objects => @ftpusers}


%h3.subtitle
  The servers
  %ul
    %li= link_to "Create a new server", new_server_path

= render :partial => "servers/servers_table", :locals => {:current_objects => @servers}
