%h2.page_title 
  -if @current_user.is_admin? && current_object != @current_user
    See a User account
  -else
    My account
  %ul
    -if current_user.is_admin?
      %li= link_to "Create a new User", new_user_path
      %li= link_to "Back to the Users list", users_path
    %li= link_to "Back to the homepage", home_path

%p
  %span.key Login: 
  %span.value= h current_object.login
%p
  %span.key Name: 
  %span.value= h current_object.name
%p
  %span.key Contact email:
  -if @current_user.is_admin? && current_object != @current_user
    %span.value= mail_to "#{current_object.name} <#{current_object.email}>", current_object.email, :subject => EMAILS_SUBJECT_PREFIX
  -else
    %span.value= h current_object.email
%p 
  %span.key Last login:
  %span.value= current_object.last_login_at ? h(current_object.last_login_at.strftime("%d/%m/%Y at %H:%M")) : "&nbsp;"
%p 
  %span.key Last login IP:
  %span.value= current_object.last_login_ip || "&nbsp;"
%p
  -if @current_user.is_admin? && current_object != @current_user
    %span.key Groups this user belongs to:
    %span.value
      %div.float_right= link_to "Manage this User's Groups", manage_groups_user_path(current_object)
      =groups_links_list(current_object)
  -else
    %span.key Groups you belong to:
    %span.value
      -if @current_user.is_admin?
        %div.float_right= link_to "Manage my Groups", manage_groups_user_path(current_object)
        =groups_links_list(current_object)
      -else
        =groups_list(current_object)

-if @current_user.is_admin? && current_object != @current_user
  %p
    = link_to 'Change Password', 'edit_password/'+current_object.perishable_token, :class => "button"
    = link_to "Edit this account", edit_user_path(current_object), :class=> "button"
    = link_to "Delete this account", user_path(current_object), {:confirm => 'Are you sure?', :method => :delete, :class => "alternative_button"}
    
  %p 
    %span.key State:
    %span.value
      %div.float_right
        Actions:
        -if ["inactive", "banned", "pending"].include?current_object.state
          = link_to friendly_states("activate"), activate_user_path(current_object), :method => :put
        -if ["active", "banned", "pending"].include?current_object.state
          = link_to friendly_states("inactivate"), inactivate_user_path(current_object), :method => :put
        -if ["active", "inactive", "pending"].include?current_object.state
          = link_to friendly_states("ban"), ban_user_path(current_object), :method => :put
      = friendly_states(current_object.state)
-else
  %p= link_to "Edit my account", edit_user_path(current_object), :class=> "button"

-if current_object.is_admin? && current_object == @current_user
  %p
    %span.large Your have an administrator account.
- elsif @current_user.is_admin?
  -if current_object.is_admin?
    %p
      %span.large
        .float_right= link_to "Revoke Admin", revoke_admin_user_path(current_object), :method => :put
        = friendly_is_admin(current_object.is_admin?)
        This User has an administrator account.
  -else
    %p
      %span.large
        .float_right= link_to "Grant Admin", grant_admin_user_path(current_object), :method => :put
        = friendly_is_admin(current_object.is_admin?)
        This User has not an administrator account.

-if @current_user.is_admin? && current_object != @current_user
  %h3.subtitle
    The FTP accounts this User can access
    %ul
      %li= link_to "Create a new FTP account", new_ftpuser_path
      %li= link_to "Browse all FTP accounts", ftpusers_path

  = render :partial => "ftpusers/ftpusers_table", :locals => {:current_objects => current_object.ftpusers}

  -if current_user.is_admin?
    %h3.subtitle
      The Servers this User can access
      %ul
        %li= link_to "Create a new server", new_server_path
        %li= link_to "Browse all servers", servers_path
    
    = render :partial => "servers/servers_table", :locals => {:current_objects => current_object.servers}
  
    %h3.subtitle
      The Groups this User belongs to
      %ul
        %li= link_to "Create a new group", new_group_path
        %li= link_to "Browse all groups", groups_path
  
    = render :partial => "groups/groups_table", :locals => {:current_objects => current_object.groups}
      
    %p.center= link_to "Manage this User's Groups", manage_groups_user_path(current_object)
