%h2.page_title VSFTPD Administration console

%h3.subtitle
  -if current_user.is_admin?
    The FTP Users
  -else
    My FTP accounts
  %ul
    %li= link_to "Browse all FTP users", ftpusers_path
    %li= link_to "Create a new FTP user", new_ftpuser_path

.paginate
  = will_paginate @ftpusers, :param_name => :ftpusers_page
= render :partial => "ftpusers/ftpusers_table", :locals => {:current_objects => @ftpusers}
.paginate
  = will_paginate @ftpusers, :param_name => :ftpusers_page

-if current_user.is_admin?
  %h3.subtitle
    The Users
    %ul
      %li= link_to "Browse all users", users_path
      %li= link_to "Create a new user", new_user_path

  %h3.subtitle
    The servers
    %ul
      %li= link_to "Browse all servers", servers_path
      %li= link_to "Create a new server", new_server_path

  .paginate
    = will_paginate @servers, :param_name => :servers_page
  = render :partial => "servers/servers_table", :locals => {:current_objects => @servers}
  .paginate
    = will_paginate @servers, :param_name => :servers_page
  
  %h3.subtitle
    The groups
    %ul
      %li= link_to "Browse all groups", groups_path
      %li= link_to "Create a new group", new_group_path
  
  .paginate
    = will_paginate @groups, :param_name => :groups_page
  = render :partial => "groups/groups_table", :locals => {:current_objects => @groups}
  .paginate
    = will_paginate @groups, :param_name => :groups_page