%h2.page_title VSFTPD Administration console

%h3.subtitle
  -if current_user.is_admin?
    The FTP Users
  -else
    My FTP accounts
  %ul
    -if current_user.is_admin?
      %li= link_to "Create a new FTP User", new_ftpuser_path
    %li= link_to "Browse all the FTP users", ftpusers_path

.paginate
  = will_paginate @ftpusers, :param_name => :ftpusers_page
= render :partial => "ftpusers/ftpusers_table", :locals => {:current_objects => @ftpusers}
.paginate
  = will_paginate @ftpusers, :param_name => :ftpusers_page

-if current_user.is_admin?
  %h3.subtitle
    The Users
    %ul
      %li= link_to "Create a new User", new_user_path
      %li= link_to "Browse all the Users", users_path

  %h3.subtitle
    The Groups
    %ul
      %li= link_to "Create a new Group", new_group_path
      %li= link_to "Browse all the Groups", groups_path

  .paginate
    = will_paginate @groups, :param_name => :groups_page
  = render :partial => "groups/groups_table", :locals => {:current_objects => @groups}
  .paginate
    = will_paginate @groups, :param_name => :groups_page

  %h3.subtitle
    The Servers
    %ul
      %li= link_to "Create a new Server", new_server_path
      %li= link_to "Browse all the Servers", servers_path

  .paginate
    = will_paginate @servers, :param_name => :servers_page
  = render :partial => "servers/servers_table", :locals => {:current_objects => @servers}
  .paginate
    = will_paginate @servers, :param_name => :servers_page
  
